<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% include "header.html" %}
  <div class="contentDetail">
    <div class="contentDetail_left">
      <img class="contentDetail_img" src={{Item.image.url}}/>
    </div>
    <div class="contentDetail_right">
      <p class="contentCard_detail_category">{{Item.category}}</p>
      <h1 class="contentCard_title">{{Item.title}}</h1>
      <p class="contentCard_detail_label">PRICE: <span class="contentCard_detail_price">${{Item.price}}</span></p>
      <p class="contentCard_detail_label">CONDITION: <span class="contentCard_detail_condition">{{Item.condition}}</span></p>
      <p class="contentCard_detail_description">{{Item.description}}</p>
      <p><button class="message_creator">Message</button><span class="contentCard_detail_creator">{{Item.creator.first_name}} {{Item.creator.last_name}}</span></p>
    </div>
  </div>
</body>
</html>
